@model List<ExchangeViewModel.Exchange_Rates>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h3>1 TL'nin döviz karşılığı</h3>
    <br /><br />
    <table class=" table table-bordered">
        <tr>
            <th>Döviz Adı</th>
            <th>Döviz Tutarı</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.currency</td>
                <td>@item.exchange_rate_buy</td>
            </tr>
        }
    </table>
</div>